@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

h3 {
    border-radius: 20px 20px 20px 20px;
}
#inputEditar:focus{
    box-shadow: 0 0 0 0.25rem rgba(231, 210, 20, 0.466);
    border-color:rgb(167, 167, 15)
}